.footer {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    background-color: rgb(19, 27, 41);
    color: #fffffff1; /* Couleur du texte */
    text-align: center;
    padding: 10px 0;
    font-size: 0.7rem;
  }
  