.container {
  max-width: 90%;
  height:100svh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  /* margin-top: 5rem; */
}

.title h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fffffff1;
}

.title p {
  font-size: 1rem;
  color: #fffffff1;
}

.cabinetInfo {
  margin-top: 1vh;
  /* text-align: center; */
}

.cabinetInfo h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fffffff1;
  text-align: center;
}

.cabinetInfo p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fffffff1;
  margin-bottom: 15px;
}
