.item {
background-color: rgba(41, 122, 193, 0.586); 
border-radius: 0.5rem;
width: 27svh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0.5rem;
}

.item > * {
flex-shrink: 1;
flex-grow: 0;
}

.image {
width: 100%;
height: 180px; 
background-size: cover;
border-radius: 10px;
background-position: center;
}

.title {
flex-shrink: 1;
font-size: 1.5rem;
padding: 0.3rem ;
color: #fffffff1;
text-align: center;
}

.text {
flex-grow: 1;
font-size: 1rem;
color: #fffffff1;
width: 80%;
flex-shrink: 1;
flex-grow: 1;
margin-bottom: 1rem;
text-align: center;
}

@media screen and (max-width: 865px) {
.item {
    width:70vw;
}
}