.navbar {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--nav-background);
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: #ffffff8e solid 1px;
}

.navbar h1 {
  color: var(--text-color);
  justify-content: flex-start;
  flex: 1;
}

.logo {
  height: 50px;
}

.menuItems {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.navbar li {
  margin-right: 3rem;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.burger {
  display: none;
}

@media screen and (max-width: 865px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar h1 {
    font-size: 1.4rem;
  }

  .menuItems {
    justify-content: flex-end;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: var(--item-background);
    text-align: end;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 1rem;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar .burger {
    display: block;
    cursor: pointer;
    color: var(--text-color);
    z-index: 2000;
    height: 5vh;
    width: 5vw;
  }
}

.menuItems ul li:hover {
  cursor: pointer;
}

.activeLink a {
  color: var(--accent-color);
}
