.container {
  max-width: 90%;
  height:100svh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  .section {
    margin-top: 3rem;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fffffff1;
}
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fffffff1;
}
  
  .paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #fffffff1;
    margin-bottom: 2rem;
  }
  