.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemsGoods {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.itemsProtection {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #fffffff1;
}

.paragraph {
  font-size: 1.1rem;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #fffffff1;
  align-items: center;
}
